$font-family: "Rubik";
$family: "Rubik";
$font-family-base: "Rubik", sans-serif;
$base-font-size: 11;

body {
  background-color: var(--bg-secondary);
  font-family: "Rubik", sans-serif;
  @extend .text-normal;
}

.border-radius-6{
  border-radius: 6px;
}

