.dot {
    height: 16px;
    width: 16px;
    min-width: 16px;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .text-light;
    @extend .rounded-circle;
}