<div class="p-16">
    <div class="d-flex align-items-center justify-content-between">
        <div>----</div>
        <div class="bg-accent-green cursor-pointer w-80 py-10 border-radius-6 mt-10 d-flex align-items-center">
            <div class="text-white text-xl">ENQUIRE</div>
        </div>
    </div>
    <h1 class="font-weight-semi-bold">Hi there, I'm</h1>
    <h1 class="font-weight-semi-bold py-10 text-accent-green">Karthik Rajeev</h1>
    <div>
        <div class="d-flex align-items-center justify-content-between bg-white p-4 border-radius-6">
            <div class="dot dot-xxl bg-light-green">
                <img src="assets/images/map-marker.svg">
            </div>
            <div class="d-flex flex-column align-items-center font-weight-600">
                <h1 class="text-accent-green font-weight-600">5</h1>
                <div>Serving Locations</div>
            </div>
        </div>
        <img src="assets/images/dots-pattern.svg">
        <img src="assets/images/dummy.svg">
        <img src="assets/images/stars-pattern.svg">
        <div class="d-flex align-items-center justify-content-between bg-white p-4 border-radius-6">
            <div class="dot dot-xxl bg-light-green">
                <img src="assets/images/building.svg">
            </div>
            <div class="d-flex flex-column align-items-center font-weight-600">
                <h1 class="text-accent-green font-weight-600">16+</h1>
                <div>Properties Listed</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="text-accent-blue font-weight-semi-bold">Reach me</h4>
        <span class="border flex-grow-1"></span>
    </div>
    <div class="font-18 mt-60 d-flex flex-column profile-text-container">
        <div class="d-flex justify-content-between align-items-center">
            <span class="dot dot-xxl bg-light-green">
                <img src="assets/images/mail.svg" class="mr-20">
            </span>
            <span>karthik.r@gharoffice.com</span>
        </div>
        <div class="mt-10 d-flex justify-content-between align-items-center">
            <span class="dot dot-xxl bg-light-green">
                <img src="assets/images/call.svg" class="mr-20">
            </span>
            <span>karthik.r@gharoffice.com</span>
        </div>
        <div class="font-weight-semi-bold mt-24 d-flex justify-content-between align-items-center">
            <span class="dot dot-xxl bg-light-green">
                <img src="assets/images/location.svg" class="mr-20">
            </span>
            <span>karthik.r@gharoffice.com</span>
        </div>
        <div class="mt-10 d-flex justify-content-between align-items-center">
            <span class="dot dot-xxl bg-light-green">
                <img src="assets/images/user.svg" class="mr-20">
            </span>
            <span>I am very much enthusiastic about working in real-estate. I have 16+ years of experience in this
                field. I have around 450 properties listed for rent as well as sale.</span>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="text-accent-blue font-weight-semi-bold">Social Profile</h4>
        <span class="border flex-grow-1"></span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <img src="assets/images/facebook.svg">
        <img src="assets/images/linkedin.svg">
        <img src="assets/images/twitter.svg">
        <img src="assets/images/instagram.svg">
    </div>
</div>